* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070025;
}

.wrapper {
  display: flex;
  width: 100%;
}

.info-container {
  width: 66%;
}

header {
  margin-top: 4rem;
}

header h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: #02b454;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  animation: h1-fadeIn 1s ease-in-out 1;
}

@keyframes h1-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  animation: h2-fadeIn 5s ease 1;
}

@keyframes h2-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.vid-container-wrapper {
  padding: 10%;
}

.vid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  gap: 4.5rem;
}

.vid {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  border-radius: 15px;
  border: 3px solid #02b455cb;
  transition: all 0.2s ease-out;
  animation: vid-fadeIn 1s ease-in 1;
}
@keyframes vid-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.vid iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.vid:hover {
  box-shadow: 0 10px 0 0 #02b454, 0 0 50px 0 #02b45531;
}

.earth-container-wrapper {
  width: 40%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.earth-container {
  width: 100%;
  transform: translateY(-16rem);
  animation: earth-fadeIn 4s ease 1;
}
@keyframes earth-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#earth {
  position: absolute;
  z-index: -1;
  animation: animation linear 35s infinite;
}

@keyframes animation {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 800px) {
  .info-container {
    width: 100%;
  }
  .earth-container-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
  #earth {
    opacity: 0.4;
  }
  .vid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 1500px) {
  .vid-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}
