* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070025;
}

.wrapper {
  display: flex;
  width: 100%;
}

.info-container {
  width: 66%;
}

header {
  margin-top: 4rem;
}

header h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: #02b454;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

header h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}

.vid-container-wrapper {
  padding: 10%;
}

.vid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  gap: 4.5rem;
}

.vid {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  border-radius: 15px;
  transition: all 0.2s ease-out;
}

.vid iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.vid:hover {
  box-shadow: 0 10px 0 0 #02b454, 0 0 50px 0 #02b45531;
}

.earth-container {
  width: 34%;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0px;
}

#earth {
  transform: translateY(10rem);
  position: absolute;
  z-index: -1;
  animation: animation linear 25s infinite;
}

@keyframes animation {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
